


body {
    font-family: Arial, sans-serif; 
    background-color: #d4f5d0;
    color: #333;
    margin: 0; 
}


header {
    background-color: #8fbf88; 
    padding: 20px; 
}


nav ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    text-align: center; 
}

nav ul li {
    display: inline; 
    margin-right: 15px; 
}

nav ul li a {
    color: #fff; 
    text-decoration: none; 
    font-weight: bold; 
}

nav ul li a:hover {
    color: #333; 
}


main {
    padding: 20px; 
}


.diferenciales, .mapa-contenido {
    margin-bottom: 20px;
}

.titulo-centralizado {
    text-align: center; 
}


ul.mucho {
    list-style-type: none; 
    padding: 0; 
}

ul.mucho li {
    margin-bottom: 10px; 
}


iframe {
    border: 0; 
}


footer {
    background-color: #8fbf88; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    position: relative; 
    width: 100%; 
    bottom: 0; 
}
